:root{
    --pad: 20px;
    --tGridHeight: 10em;
    --GridHeight: 6.5em;
    --fSize: 125%;
    --h2Size: 200%

}
body {
    background-color: #f4f9dd;
    min-width: 375px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, main, footer {
    padding: 20px;
}

header{
    background-color: rgb(118, 111, 241);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}

h1 {
    font-size: 300%;
}

nav {
    display: inline-flex;
    margin-right: 5%;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline-block;
    padding: 20px;
    font-size: var(--fSize);
}

h2{
    display: inline-block;
    font-size: var(--h2Size);
    padding: 0 0 0 10%;

}


.aboutMe p {
    font-size: var(--fSize);
}

/*  */
.aboutMe div, .work, .contactMe ul {
    margin: -1.5em 5% 5em 30%;
    padding-left: 3em;
    border-left: 5px #888 solid;
    vertical-align: text-top;

}

.contactMe ul li{
    display: inline-block;
    margin-right: 5%;
}

/* format and style the grid */

.refractor { 
    grid-area: top; 
    cursor: pointer;

}

#soon1 { 
    grid-area: tLeft;
    height: var(--GridHeight);
 }
#soon2 { 
    grid-area: tRight;
    height: var(--GridHeight) 
}
#soon3 { 
    grid-area: bLeft;
    height: var(--GridHeight)
}
#soon4 { 
    grid-area: bRight;
    height: var(--GridHeight)
}

.work {
    display: grid;
    grid-template-areas: 
        'top top'
        'tLeft tRight'
        'bLeft bRight';
    gap: 10px;
    padding-left: 3em;
}

.work > div {
    padding: 20px 0;
    font-size: var(--fSize);
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}


.work div > * {
    font-size: var(--fSize);
    border: 1px grey solid;
    width: 30%;
    background-color: lightgrey;
    box-shadow: 2px 2px 10px #888;
    margin: 1px 0 0 10px;
}

.soon {
    background-image: url(../image/coming-soon.jpg);
    background-size: cover;
    background-position: center;
}

.refractor img{
    height: 200px;
    width: 40em;
    object-fit: cover;
    
}