:root{
    --pad: 20px;

}
body {
    background-color: #f4f9dd;
    min-width: 375px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header, main, footer {
    padding: 20px;
} */

header{
    background-color: rgb(159, 143, 182);
    padding: 20px;
}

h1 {
    display: inline-block;
    font-size: 400%;
}

nav {
    float: right;
}

nav ul li{
    display: inline-block;
    padding: 20px;
    font-size: 125%;
}



h2{
    display: inline-block;
    font-size: 150%;
    padding-left: 10%;
    
}


.aboutMe p, .work, .contactMe ul {
    margin-left: 30%;
    padding-left: 10px;
    border-left: 5px red solid;
}

.contactMe ul li{
    display: inline-block;
    margin-right: 5%;
}

.refractor { grid-area: top; }
#soon1 { grid-area: tLeft; }
#soon2 { grid-area: tRight; }
#soon3 { grid-area: bLeft; }
#soon4 { grid-area: bRight; }

.work {
    display: grid;
    grid-template-areas: 
        'top top top top top top'
        'tLeft tLeft tLeft tRight tRight tRight'
        'bLeft bLeft bLeft bRight bRight bRight';
    gap: 10px;
    background-color: #2196f3;
    padding: 10px;
}

.work > div {
    background-color: greenyellow;
    text-align: center;
    padding: 20px 0;
    font-size: 120%;
}