/* :root{

} */
body {
    background-color: #f4f9dd;
    min-width: 375px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header, main, footer {
    padding: 20px;
} */

header{
    background-color: rgb(159, 143, 182);
    padding: 20px;
}

h1 {
    display: inline-block;
    font-size: 400%;
}

nav {
    float: right;
}

nav ul li{
    display: inline-block;
    padding: 20px;
    font-size: 125%;
}

article{
    margin-bottom: 20px;
}

h2{
    display: inline-block;
    font-size: 150%;
    padding-left: 10%;
}


.aboutMe p, .refractor, .soon, .contactMe ul {
    margin-left: 30%;
    padding-left: 10px;
    border-left: 5px red solid;
}

.contactMe ul li{
    display: inline-block;
    margin-right: 5%;
}